CSE-121710316035-M.Vineetha

 "1. What is the parameter we should use to mention the first row in the data set are not columns what is the value we should send for that parameter"

In [ ]:
"</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>2018-01-01 00:01:01;read;country_7;2458151261;SEO;North America</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2018-01-01 00:03:20;read;country_7;2458151262;...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2018-01-01 00:04:01;read;country_7;2458151263;...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>2018-01-01 00:04:02;read;country_7;2458151264;...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>2018-01-01 00:05:03;read;country_8;2458151265;...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>2018-01-01 00:05:42;read;country_6;2458151266;...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1789</th>\n",
       "      <td>2018-01-01 23:57:14;read;country_2;2458153051;...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1790</th>\n",
       "      <td>2018-01-01 23:58:33;read;country_8;2458153052;...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1791</th>\n",
       "      <td>2018-01-01 23:59:36;read;country_6;2458153053;...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1792</th>\n",
       "      <td>2018-01-01 23:59:36;read;country_7;2458153054;...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1793</th>\n",
       "      <td>2018-01-01 23:59:38;read;country_5;2458153055;...</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>1794 rows × 1 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "     2018-01-01 00:01:01;read;country_7;2458151261;SEO;North America\n",
       "0     2018-01-01 00:03:20;read;country_7;2458151262;...             \n",
       "1     2018-01-01 00:04:01;read;country_7;2458151263;...             \n",
       "2     2018-01-01 00:04:02;read;country_7;2458151264;...             \n",
       "3     2018-01-01 00:05:03;read;country_8;2458151265;...             \n",
       "4     2018-01-01 00:05:42;read;country_6;2458151266;...             \n",
       "...                                                 ...             \n",
       "1789  2018-01-01 23:57:14;read;country_2;2458153051;...             \n",
       "1790  2018-01-01 23:58:33;read;country_8;2458153052;...             \n",
       "1791  2018-01-01 23:59:36;read;country_6;2458153053;...             \n",
       "1792  2018-01-01 23:59:36;read;country_7;2458153054;...             \n",
       "1793  2018-01-01 23:59:38;read;country_5;2458153055;...             \n",
       "\n",
       "[1794 rows x 1 columns]"
      ]
     },
     "execution_count": 2,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "data = pd.read_table(\"summer.csv\")\n",
    "\n",
    "data"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>2018-01-01 00:01:01</th>\n",
       "      <th>read</th>\n",
       "      <th>country_7</th>\n",
       "      <th>2458151261</th>\n",
       "      <th>SEO</th>\n",
       "      <th>North America</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2018-01-01 00:03:20</td>\n",
       "      <td>read</td>\n",
       "      <td>country_7</td>\n",
       "      <td>2458151262</td>\n",
       "      <td>SEO</td>\n",
       "      <td>South America</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2018-01-01 00:04:01</td>\n",
       "      <td>read</td>\n",
       "      <td>country_7</td>\n",
       "      <td>2458151263</td>\n",
       "      <td>AdWords</td>\n",
       "      <td>Africa</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>2018-01-01 00:04:02</td>\n",
       "      <td>read</td>\n",
       "      <td>country_7</td>\n",
       "      <td>2458151264</td>\n",
       "      <td>AdWords</td>\n",
       "      <td>Europe</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>2018-01-01 00:05:03</td>\n",
       "      <td>read</td>\n",
       "      <td>country_8</td>\n",
       "      <td>2458151265</td>\n",
       "      <td>Reddit</td>\n",
       "      <td>North America</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>2018-01-01 00:05:42</td>\n",
       "      <td>read</td>\n",
       "      <td>country_6</td>\n",
       "      <td>2458151266</td>\n",
       "      <td>Reddit</td>\n",
       "      <td>North America</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1789</th>\n",
       "      <td>2018-01-01 23:57:14</td>\n",
       "      <td>read</td>\n",
       "      <td>country_2</td>\n",
       "      <td>2458153051</td>\n",
       "      <td>AdWords</td>\n",
       "      <td>North America</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1790</th>\n",
       "      <td>2018-01-01 23:58:33</td>\n",
       "      <td>read</td>\n",
       "      <td>country_8</td>\n",
       "      <td>2458153052</td>\n",
       "      <td>SEO</td>\n",
       "      <td>Asia</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1791</th>\n",
       "      <td>2018-01-01 23:59:36</td>\n",
       "      <td>read</td>\n",
       "      <td>country_6</td>\n",
       "      <td>2458153053</td>\n",
       "      <td>Reddit</td>\n",
       "      <td>Asia</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1792</th>\n",
       "      <td>2018-01-01 23:59:36</td>\n",
       "      <td>read</td>\n",
       "      <td>country_7</td>\n",
       "      <td>2458153054</td>\n",
       "      <td>AdWords</td>\n",
       "      <td>Europe</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1793</th>\n",
       "      <td>2018-01-01 23:59:38</td>\n",
       "      <td>read</td>\n",
       "      <td>country_5</td>\n",
       "      <td>2458153055</td>\n",
       "      <td>Reddit</td>\n",
       "      <td>Asia</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>1794 rows × 6 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "      2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America\n",
       "0     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America\n",
       "1     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa\n",
       "2     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe\n",
       "3     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America\n",
       "4     2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America\n",
       "...                   ...   ...        ...         ...      ...            ...\n",
       "1789  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America\n",
       "1790  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia\n",
       "1791  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia\n",
       "1792  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe\n",
       "1793  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia\n",
       "\n",
       "[1794 rows x 6 columns]"
      ]
     },
     "execution_count": 3,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "data = pd.read_table(\"summer.csv\",sep=\";\")\n",
    "data"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>0</th>\n",
       "      <th>1</th>\n",
       "      <th>2</th>\n",
       "      <th>3</th>\n",
       "      <th>4</th>\n",
       "      <th>5</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2018-01-01 00:01:01</td>\n",
       "      <td>read</td>\n",
       "      <td>country_7</td>\n",
       "      <td>2458151261</td>\n",
       "      <td>SEO</td>\n",
       "      <td>North America</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2018-01-01 00:03:20</td>\n",
       "      <td>read</td>\n",
       "      <td>country_7</td>\n",
       "      <td>2458151262</td>\n",
       "      <td>SEO</td>\n",
       "      <td>South America</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>2018-01-01 00:04:01</td>\n",
       "      <td>read</td>\n",
       "      <td>country_7</td>\n",
       "      <td>2458151263</td>\n",
       "      <td>AdWords</td>\n",
       "      <td>Africa</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>2018-01-01 00:04:02</td>\n",
       "      <td>read</td>\n",
       "      <td>country_7</td>\n",
       "      <td>2458151264</td>\n",
       "      <td>AdWords</td>\n",
       "      <td>Europe</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>2018-01-01 00:05:03</td>\n",
       "      <td>read</td>\n",
       "      <td>country_8</td>\n",
       "      <td>2458151265</td>\n",
       "      <td>Reddit</td>\n",
       "      <td>North America</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1790</th>\n",
       "      <td>2018-01-01 23:57:14</td>\n",
       "      <td>read</td>\n",
       "      <td>country_2</td>\n",
       "      <td>2458153051</td>\n",
       "      <td>AdWords</td>\n",
       "      <td>North America</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1791</th>\n",
       "      <td>2018-01-01 23:58:33</td>\n",
       "      <td>read</td>\n",
       "      <td>country_8</td>\n",
       "      <td>2458153052</td>\n",
       "      <td>SEO</td>\n",
       "      <td>Asia</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1792</th>\n",
       "      <td>2018-01-01 23:59:36</td>\n",
       "      <td>read</td>\n",
       "      <td>country_6</td>\n",
       "      <td>2458153053</td>\n",
       "      <td>Reddit</td>\n",
       "      <td>Asia</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1793</th>\n",
       "      <td>2018-01-01 23:59:36</td>\n",
       "      <td>read</td>\n",
       "      <td>country_7</td>\n",
       "      <td>2458153054</td>\n",
       "      <td>AdWords</td>\n",
       "      <td>Europe</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1794</th>\n",
       "      <td>2018-01-01 23:59:38</td>\n",
       "      <td>read</td>\n",
       "      <td>country_5</td>\n",
       "      <td>2458153055</td>\n",
       "      <td>Reddit</td>\n",
       "      <td>Asia</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>1795 rows × 6 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "                        0     1          2           3        4              5\n",
       "0     2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America\n",
       "1     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America\n",
       "2     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa\n",
       "3     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe\n",
       "4     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America\n",
       "...                   ...   ...        ...         ...      ...            ...\n",
       "1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America\n",
       "1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia\n",
       "1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia\n",
       "1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe\n",
       "1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia\n",
       "\n",
       "[1795 rows x 6 columns]"
      ]
     },
     "execution_count": 4,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "data = pd.read_table(\"summer.csv\",sep=\";\",header=None)\n",
    "data"

2. Read the data in the data.csv file in the proper format\n",
    "    Use ['my_datetime', 'event', 'country_code', 'user_id', 'source', 'country '] as columns\n",
    "  - check how many rows and columns are there\n",
    "  - what are the columns names\n",
    "  - what are are the row labels\n",
    "  - Write down your observation\n",
    "    - what type of data you have \n",
    "    - In the data if you have observed are there any missing values(NaN)\n",
    "  - print the datatype of each column\n",
    "  - For each data type how many columns are there\n",
    "  - Using describe function observe the different measures for numerical and categorical columns\n",
    "  - Use the info function to get the detailed info of the dataframe\n",
    "  -  Check for the duplicate values in all the columns\n",
    "  -  Replace the value “South America” from country column with NaN and fill with mode of   the column\n",
    "  - Check the count of categories being repeated in the source column.\n"

In [ ]:
 "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>my_datetime</th>\n",
       "      <th>event</th>\n",
       "      <th>country_code</th>\n",
       "      <th>user_id</th>\n",
       "      <th>source</th>\n",
       "      <th>country</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2018-01-01 00:01:01</td>\n",
       "      <td>read</td>\n",
       "      <td>country_7</td>\n",
       "      <td>2458151261</td>\n",
       "      <td>SEO</td>\n",
       "      <td>North America</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2018-01-01 00:03:20</td>\n",
       "      <td>read</td>\n",
       "      <td>country_7</td>\n",
       "      <td>2458151262</td>\n",
       "      <td>SEO</td>\n",
       "      <td>South America</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>2018-01-01 00:04:01</td>\n",
       "      <td>read</td>\n",
       "      <td>country_7</td>\n",
       "      <td>2458151263</td>\n",
       "      <td>AdWords</td>\n",
       "      <td>Africa</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>2018-01-01 00:04:02</td>\n",
       "      <td>read</td>\n",
       "      <td>country_7</td>\n",
       "      <td>2458151264</td>\n",
       "      <td>AdWords</td>\n",
       "      <td>Europe</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>2018-01-01 00:05:03</td>\n",
       "      <td>read</td>\n",
       "      <td>country_8</td>\n",
       "      <td>2458151265</td>\n",
       "      <td>Reddit</td>\n",
       "      <td>North America</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1790</th>\n",
       "      <td>2018-01-01 23:57:14</td>\n",
       "      <td>read</td>\n",
       "      <td>country_2</td>\n",
       "      <td>2458153051</td>\n",
       "      <td>AdWords</td>\n",
       "      <td>North America</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1791</th>\n",
       "      <td>2018-01-01 23:58:33</td>\n",
       "      <td>read</td>\n",
       "      <td>country_8</td>\n",
       "      <td>2458153052</td>\n",
       "      <td>SEO</td>\n",
       "      <td>Asia</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1792</th>\n",
       "      <td>2018-01-01 23:59:36</td>\n",
       "      <td>read</td>\n",
       "      <td>country_6</td>\n",
       "      <td>2458153053</td>\n",
       "      <td>Reddit</td>\n",
       "      <td>Asia</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1793</th>\n",
       "      <td>2018-01-01 23:59:36</td>\n",
       "      <td>read</td>\n",
       "      <td>country_7</td>\n",
       "      <td>2458153054</td>\n",
       "      <td>AdWords</td>\n",
       "      <td>Europe</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1794</th>\n",
       "      <td>2018-01-01 23:59:38</td>\n",
       "      <td>read</td>\n",
       "      <td>country_5</td>\n",
       "      <td>2458153055</td>\n",
       "      <td>Reddit</td>\n",
       "      <td>Asia</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>1795 rows × 6 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "              my_datetime event country_code     user_id   source  \\\n",
       "0     2018-01-01 00:01:01  read    country_7  2458151261      SEO   \n",
       "1     2018-01-01 00:03:20  read    country_7  2458151262      SEO   \n",
       "2     2018-01-01 00:04:01  read    country_7  2458151263  AdWords   \n",
       "3     2018-01-01 00:04:02  read    country_7  2458151264  AdWords   \n",
       "4     2018-01-01 00:05:03  read    country_8  2458151265   Reddit   \n",
       "...                   ...   ...          ...         ...      ...   \n",
       "1790  2018-01-01 23:57:14  read    country_2  2458153051  AdWords   \n",
       "1791  2018-01-01 23:58:33  read    country_8  2458153052      SEO   \n",
       "1792  2018-01-01 23:59:36  read    country_6  2458153053   Reddit   \n",
       "1793  2018-01-01 23:59:36  read    country_7  2458153054  AdWords   \n",
       "1794  2018-01-01 23:59:38  read    country_5  2458153055   Reddit   \n",
       "\n",
       "            country  \n",
       "0     North America  \n",
       "1     South America  \n",
       "2            Africa  \n",
       "3            Europe  \n",
       "4     North America  \n",
       "...             ...  \n",
       "1790  North America  \n",
       "1791           Asia  \n",
       "1792           Asia  \n",
       "1793         Europe  \n",
       "1794           Asia  \n",
       "\n",
       "[1795 rows x 6 columns]"
      ]

   "#Use ['my_datetime', 'event', 'country_code', 'user_id', 'source', 'country '] as columns\n",

In [ ]:
data = pd.read_table(\"summer.csv\",sep=\";\",header=None,names=['my_datetime', 'event', 'country_code', 'user_id', 'source', 'country'])\n",
    "data"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "No of rows: 1795\n",
      "No of columns: 6\n"

#check how many rows and columns are there\n",

In [ ]:
print(\"No of rows:\",data.shape[0])\n",
    "print(\"No of columns:\",data.shape")

 "#what are are the row labels\n",

In [ ]:
"print(\"row labels\")\n",
    "print(data.index.values)"

   "['my_datetime' 'event' 'country_code' 'user_id' 'source' 'country']\n"

In [ ]:
"source": [
    "print(\"column labels\")\n",
    "print(data.columns.values)"
      "my_datetime     object\n",
       "event           object\n",
       "country_code    object\n",
       "user_id          int64\n",
       "source          object\n",
       "country         object\n",
       "dtype: object"

 "##- Write down your observation\n",
    "#- what type of data you have \n",
    "#   - In the data if you have observed are there any missing values(NaN)\n",

"outputs": [
    {
     "data": {
      "text/plain": [
       "my_datetime     0\n",
       "event           0\n",
       "country_code    0\n",
       "user_id         0\n",
       "source          0\n",
       "country         0\n",
       "dtype: int64"

"#print the datatype of each column\n",

In [3]:
 "data['my_datetime'].dtypes"

"data['my_datetime'].dtypes"

 "#For each data type how many columns are there\n",

In [ ]:
"print(\"object columns:\",len(data.select_dtypes(include='O').columns))\n",
    "print(\"int columns:\",len(data.select_dtypes(include='int64').columns))"

  "#Use the info function to get the detailed info of the dataframe\n",

In [ ]:
  "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>my_datetime</th>\n",
       "      <th>event</th>\n",
       "      <th>country_code</th>\n",
       "      <th>source</th>\n",
       "      <th>country</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>count</th>\n",
       "      <td>1795</td>\n",
       "      <td>1795</td>\n",
       "      <td>1795</td>\n",
       "      <td>1795</td>\n",
       "      <td>1795</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>unique</th>\n",
       "      <td>1773</td>\n",
       "      <td>1</td>\n",
       "      <td>8</td>\n",
       "      <td>3</td>\n",
       "      <td>6</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>top</th>\n",
       "      <td>2018-01-01 03:10:36</td>\n",
       "      <td>read</td>\n",
       "      <td>country_2</td>\n",
       "      <td>Reddit</td>\n",
       "      <td>Asia</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>freq</th>\n",
       "      <td>3</td>\n",
       "      <td>1795</td>\n",
       "      <td>462</td>\n",
       "      <td>949</td>\n",
       "      <td>667</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                my_datetime event country_code  source country\n",
       "count                  1795  1795         1795    1795    1795\n",
       "unique                 1773     1            8       3       6\n",
       "top     2018-01-01 03:10:36  read    country_2  Reddit    Asia\n",
       "freq                      3  1795          462     949     667"
      ]
     },
     "execution_count": 19,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "data.describe(include='O')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 20,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 1795 entries, 0 to 1794\n",
      "Data columns (total 6 columns):\n",
      " #   Column        Non-Null Count  Dtype \n",
      "---  ------        --------------  ----- \n",
      " 0   my_datetime   1795 non-null   object\n",
      " 1   event         1795 non-null   object\n",
      " 2   country_code  1795 non-null   object\n",
      " 3   user_id       1795 non-null   int64 \n",
      " 4   source        1795 non-null   object\n",
      " 5   country       1795 non-null   object\n",
      "dtypes: int64(1), object(5)\n",
      "memory usage: 84.3+ KB\n"
     ]
    }
   ],
   "source": [

  "#Use the info function to get the detailed info of the dataframe\n",
    "data.info()"

In [ ]:
"my_datetime \n",
      "               my_datetime event country_code     user_id   source  \\\n",
      "85    2018-01-01 01:17:48  read    country_8  2458151346   Reddit   \n",
      "96    2018-01-01 01:23:44  read    country_7  2458151357  AdWords   \n",
      "194   2018-01-01 02:46:20  read    country_6  2458151455      SEO   \n",
      "226   2018-01-01 03:10:36  read    country_6  2458151487   Reddit   \n",
      "227   2018-01-01 03:10:36  read    country_6  2458151488  AdWords   \n",
      "267   2018-01-01 03:31:51  read    country_7  2458151528  AdWords   \n",
      "337   2018-01-01 04:26:24  read    country_7  2458151598  AdWords   \n",
      "416   2018-01-01 05:44:15  read    country_7  2458151677   Reddit   \n",
      "420   2018-01-01 05:47:29  read    country_2  2458151681   Reddit   \n",
      "422   2018-01-01 05:47:50  read    country_5  2458151683   Reddit   \n",
      "458   2018-01-01 06:09:59  read    country_7  2458151719   Reddit   \n",
      "495   2018-01-01 06:38:26  read    country_5  2458151756   Reddit   \n",
      "721   2018-01-01 09:48:57  read    country_8  2458151982   Reddit   \n",
      "738   2018-01-01 10:00:14  read    country_7  2458151999   Reddit   \n",
      "772   2018-01-01 10:22:10  read    country_7  2458152033   Reddit   \n",
      "912   2018-01-01 12:14:20  read    country_5  2458152173      SEO   \n",
      "1302  2018-01-01 17:39:00  read    country_8  2458152563  AdWords   \n",
      "1494  2018-01-01 20:20:34  read    country_6  2458152755   Reddit   \n",
      "1536  2018-01-01 20:52:13  read    country_7  2458152797  AdWords   \n",
      "1660  2018-01-01 22:27:20  read    country_4  2458152921   Reddit   \n",
      "1731  2018-01-01 23:16:19  read    country_2  2458152992   Reddit   \n",
      "1793  2018-01-01 23:59:36  read    country_7  2458153054  AdWords   \n",
      "\n",
      "            country  \n",
      "85             Asia  \n",
      "96             Asia  \n",
      "194   North America  \n",
      "226   North America  \n",
      "227       Australia  \n",
      "267            Asia  \n",
      "337          Europe  \n",
      "416   North America  \n",
      "420          Europe  \n",
      "422            Asia  \n",
      "458            Asia  \n",
      "495   South America  \n",
      "721   North America  \n",
      "738            Asia  \n",
      "772          Africa  \n",
      "912   North America  \n",
      "1302         Europe  \n",
      "1494         Africa  \n",
      "1536  North America  \n",
      "1660         Africa  \n",
      "1731  South America  \n",
      "1793         Europe   \n",
      "\n",
      "\n",
      "event \n",
      "               my_datetime event country_code     user_id   source  \\\n",
      "1     2018-01-01 00:03:20  read    country_7  2458151262      SEO   \n",
      "2     2018-01-01 00:04:01  read    country_7  2458151263  AdWords   \n",
      "3     2018-01-01 00:04:02  read    country_7  2458151264  AdWords   \n",
      "4     2018-01-01 00:05:03  read    country_8  2458151265   Reddit   \n",
      "5     2018-01-01 00:05:42  read    country_6  2458151266   Reddit   \n",
      "...                   ...   ...          ...         ...      ...   \n",
      "1790  2018-01-01 23:57:14  read    country_2  2458153051  AdWords   \n",
      "1791  2018-01-01 23:58:33  read    country_8  2458153052      SEO   \n",
      "1792  2018-01-01 23:59:36  read    country_6  2458153053   Reddit   \n",
      "1793  2018-01-01 23:59:36  read    country_7  2458153054  AdWords   \n",
      "1794  2018-01-01 23:59:38  read    country_5  2458153055   Reddit   \n",
      "\n",
      "            country  \n",
      "1     South America  \n",
      "2            Africa  \n",
      "3            Europe  \n",
      "4     North America  \n",
      "5     North America  \n",
      "...             ...  \n",
      "1790  North America  \n",
      "1791           Asia  \n",
      "1792           Asia  \n",
      "1793         Europe  \n",
      "1794           Asia  \n",
      "\n",
      "[1794 rows x 6 columns] \n",
      "\n",
      "\n",
      "country_code \n",
      "               my_datetime event country_code     user_id   source  \\\n",
      "1     2018-01-01 00:03:20  read    country_7  2458151262      SEO   \n",
      "2     2018-01-01 00:04:01  read    country_7  2458151263  AdWords   \n",
      "3     2018-01-01 00:04:02  read    country_7  2458151264  AdWords   \n",
      "7     2018-01-01 00:06:15  read    country_6  2458151268  AdWords   \n",
      "8     2018-01-01 00:07:21  read    country_7  2458151269  AdWords   \n",
      "...                   ...   ...          ...         ...      ...   \n",
      "1790  2018-01-01 23:57:14  read    country_2  2458153051  AdWords   \n",
      "1791  2018-01-01 23:58:33  read    country_8  2458153052      SEO   \n",
      "1792  2018-01-01 23:59:36  read    country_6  2458153053   Reddit   \n",
      "1793  2018-01-01 23:59:36  read    country_7  2458153054  AdWords   \n",
      "1794  2018-01-01 23:59:38  read    country_5  2458153055   Reddit   \n",
      "\n",
      "            country  \n",
      "1     South America  \n",
      "2            Africa  \n",
      "3            Europe  \n",
      "7            Europe  \n",
      "8     North America  \n",
      "...             ...  \n",
      "1790  North America  \n",
      "1791           Asia  \n",
      "1792           Asia  \n",
      "1793         Europe  \n",
      "1794           Asia  \n",
      "\n",
      "[1787 rows x 6 columns] \n",
      "\n",
      "\n",
      "user_id \n",
      " Empty DataFrame\n",
      "Columns: [my_datetime, event, country_code, user_id, source, country]\n",
      "Index: [] \n",
      "\n",
      "\n",
      "source \n",
      "               my_datetime event country_code     user_id   source  \\\n",
      "1     2018-01-01 00:03:20  read    country_7  2458151262      SEO   \n",
      "3     2018-01-01 00:04:02  read    country_7  2458151264  AdWords   \n",
      "5     2018-01-01 00:05:42  read    country_6  2458151266   Reddit   \n",
      "6     2018-01-01 00:06:06  read    country_2  2458151267   Reddit   \n",
      "7     2018-01-01 00:06:15  read    country_6  2458151268  AdWords   \n",
      "...                   ...   ...          ...         ...      ...   \n",
      "1790  2018-01-01 23:57:14  read    country_2  2458153051  AdWords   \n",
      "1791  2018-01-01 23:58:33  read    country_8  2458153052      SEO   \n",
      "1792  2018-01-01 23:59:36  read    country_6  2458153053   Reddit   \n",
      "1793  2018-01-01 23:59:36  read    country_7  2458153054  AdWords   \n",
      "1794  2018-01-01 23:59:38  read    country_5  2458153055   Reddit   \n",
      "\n",
      "            country  \n",
      "1     South America  \n",
      "3            Europe  \n",
      "5     North America  \n",
      "6            Europe  \n",
      "7            Europe  \n",
      "...             ...  \n",
      "1790  North America  \n",
      "1791           Asia  \n",
      "1792           Asia  \n",
      "1793         Europe  \n",
      "1794           Asia  \n",
      "\n",
      "[1792 rows x 6 columns] \n",
      "\n",
      "\n",
      "country \n",
      "               my_datetime event country_code     user_id   source  \\\n",
      "4     2018-01-01 00:05:03  read    country_8  2458151265   Reddit   \n",
      "5     2018-01-01 00:05:42  read    country_6  2458151266   Reddit   \n",
      "6     2018-01-01 00:06:06  read    country_2  2458151267   Reddit   \n",
      "7     2018-01-01 00:06:15  read    country_6  2458151268  AdWords   \n",
      "8     2018-01-01 00:07:21  read    country_7  2458151269  AdWords   \n",
      "...                   ...   ...          ...         ...      ...   \n",
      "1790  2018-01-01 23:57:14  read    country_2  2458153051  AdWords   \n",
      "1791  2018-01-01 23:58:33  read    country_8  2458153052      SEO   \n",
      "1792  2018-01-01 23:59:36  read    country_6  2458153053   Reddit   \n",
      "1793  2018-01-01 23:59:36  read    country_7  2458153054  AdWords   \n",
      "1794  2018-01-01 23:59:38  read    country_5  2458153055   Reddit   \n",
      "\n",
      "            country  \n",
      "4     North America  \n",
      "5     North America  \n",
      "6            Europe  \n",
      "7            Europe  \n",
      "8     North America  \n",
      "...             ...  \n",
      "1790  North America  \n",
      "1791           Asia  \n",
      "1792           Asia  \n",
      "1793         Europe  \n",
      "1794           Asia  \n",
      "\n",
      "[1789 rows x 6 columns] \n",
      "\n",
      "\n"
     ]
    }
   ],

"# Check for the duplicate values in all the columns\n",

In [ ]:
"for i in data.columns:\n",
    "    print(i,\"\\n\",data[data[i].duplicated()],\"\\n\\n\")"